# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    # Language
    locale:            en
    app_locales:       en|fr
    app_locales_array: [ en , fr ]

    database_host:     db
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Social network
    linkedin_id:     776pub3xfccsot
    linkedin_secret: obJyeyCHu5W4zxa4
    linkedin_scope:  'r_basicprofile r_emailaddress'

    # Link
    facebook_link: "https://www.facebook.com/wantmorework/"
    twitter_link:  "https://twitter.com/WantMoreWork/"
    linkedin_link: "https://www.linkedin.com/groups/7052605/"

    # Email Sender
    email_sender:       want@more.work
    email_pre_register: arnaud@wantmore.work
    email_contact:      contact@wamow.co
    email_press:        press@wamow.co

    # Stripe
    stripe_publishable_key: pk_test_6pRNASCoBOKtIshFeQd4XMUh
    stripe_secret_key: sk_test_BQokikJOvBiI2HlWgH4olfQ2
    advisor_plan_v1_price: 5.00
    contractor_plan_v1_price: 50.00
    stripe_subscription_currency: usd

    # Newsletter url
    news_url: http://consultants.wantmore.work/
