{% extends '::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% else %}
            <div>
                <a href="{{ path('fos_user_registration_register_expert') }}">Advisor</a>
                <a href="{{ path('fos_user_registration_register_seeker') }}">Contractor</a>
            </div>
        {% endif %}

        </div>
    </div>
{% endblock %}
