{% trans_default_domain 'tools' %}
<h3>{{ 'mails.hello' | trans({ '%f_name': f_name, '%l_name': l_name }, 'tools') }}</h3>

{{ 'mails.registration.advisor_new_password' | trans({ '%password': password }, 'tools') }}<br>

{{ 'mails.inbox.the_team' | trans }}
