{% trans_default_domain 'tools' %}
<h3>{{ 'mails.hello' | trans({ '%f_name': f_name, '%l_name': l_name }, 'tools') }}</h3>
<br />
{{ 'mails.registration.reset_password' | trans({ '%url': url }, 'tools') | raw | nl2br }}
<br />
{{ signature | trans }}
<br />
<img src="https://wamow.co/images/mail.png" alt="wamow" />