{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ status_code }} - {{ status_text }}</h1>
    <h2>{{ exception.message }}</h2>
    <p>
        <h3>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ url('dashboard') }}">return to the dashboard</a>.
        </h3>
{% endblock %}