.wmw-cdashboard{
	position:relative;
	border-left:1px solid $colorgreyxlight;
	border-right:1px solid $colorgreyxlight;
	border-bottom:1px solid $colorgreyxlight;

	&:before{
		content:'';
		display:block;
		width:100%;
		height:3px;
		background: linear-gradient(to right, $colorpurple, $colorgreen);
	}

	.wmw-cdashboard-close{
		position:absolute;
		top:17px; right:15px;
		font-size:10px;
		text-transform:uppercase;
		letter-spacing:0.06em;
		color:$colorgreylight;
		text-decoration:none;

		.icon{
			font-size:18px;
			margin:0 10px 0 0;
		}
	}

	.wmw-cdashboard-breadcrumbs{
		display:block;
		font-size:0;
		border-bottom:1px solid $colorgreyxlight;

		.breadcrumbs-el{
			display:inline-block;
			position:relative;
			line-height:45px;
			color:#b7b7bc;
			font-family:$fontdincondmed;	
			color:$colorgreylight;
			font-size:20px;	
			text-decoration:none;
			text-transform:uppercase;
			padding:0 12px 0 35px;

			.wmw-button{
				top:-3px;
				margin:0 0 0 10px;
			}

			&:before,
			&:after{
				content:'';
				display:block;
				border-left:20px solid white;
				border-top:22.5px solid transparent;
				border-bottom:22.5px solid transparent;
				position:absolute;
				top:0; right:-19px;
				z-index:100;
			}

			&:before{
				border-left:20px solid $colorgreyxlight;

				right:-20px;
			}

			&.active{
				color:white;
				background:$colorgreen;

				&:after{
					content:'';
					display:block;
					border-left:20px solid $colorgreen;
					border-top:22.5px solid transparent;
					border-bottom:22.5px solid transparent;
					position:absolute;
					top:0; right:-19px;
				}
			}

			&:last-child{

				&:before,
				&:after{
					content:none;
				}
			}
		}
	}

	.wmw-cdashboard-header{
		position:relative;
		border-bottom:1px solid $colorgreyxlight;
		
		h1{
			font-family:$fontdincondmed;
			color:$colorgrey;
			font-size:37px;
			padding:10px 35px;
			margin:0;
			display:block;
			font-weight:normal;
		
			small{
				display:block;
				font-family:$fontcantarell;
				color:$colorgreylight;
				font-size:14px;
				letter-spacing:0;
				margin-top:5px;
			
				.icon{
					font-size:22px;
				}
			}
		}

		.wmw-cdashboard-summary{
			position:absolute;
			top:0; right:0;
			width:auto;
			height:100%;

			span{
				position:relative;
				height:100%;
				display:inline-block;
				vertical-align:top;
				border-left:1px solid $colorgreyxlight;
				font-family:$fontcantarell;
				font-size:12px;
				letter-spacing:0;
				text-align:center;
				padding:20px 10px;

				.icon{
					font-size:30px;
					margin-bottom:5px;
					color:#b8b8bd;
				}
			}

			.summary-salary{
				padding:12px 10px;

				strong{
					font-size:25px;
				}
			}

			.summary-answer{
				background:#fdf0ee;
				color:$colorred;
				padding:15px 25px;
				font-size:16px;

				.icon{
					color:$colorred;
					font-size:35px;
				}
			}

			.summary-selected{
				background:#ebf9f8;
				color:$colorgreen;
				padding:12px 25px;
				font-size:16px;
				line-height:13px;

				.icon{
					color:$colorgreen;
					font-size:35px;
				}

				small{
					font-size:9px;
					color:$colorgreylight;
					text-transform:uppercase;
				}
			}
		}
	}

	.wmw-cdashboard-body{
		position:relative;
		padding:50px 25px 25px 25px;
		overflow:hidden;
		background:#fdfdfd;

		&.wmw-cdashboard-body--mail{
			padding:0;
		}

		.wmw-cdashboard-pagination{
			display:block;
			position:absolute;
			top:10px; right:15px;
		
			a{
				display:inline-block;
				width:20px;
				height:20px;
				line-height:18px;
				border:1px solid $colorgreylight;
				color:$colorgreylight;
				text-align:center;
				font-size:12px;
				text-decoration:none;

				&:hover,
				&.current{
					background:$colorgreen;
					color:white;
					border-color:$colorgreen;
				}
			}
		}

		.wmw-cdashboard-element{
			width:18%;
			margin:0 1%;
			float:left;

			.element-title{
				display:block;
				margin-bottom:25px;
				border:1px solid $colorgreyxlight;
				background:white;
				box-shadow:0 0 6px rgba(0,0,0,0.1);
				padding:0 15px;
				height:44px;
				line-height:44px;
				font-size:23px;
				font-family:$fontdincondmed;
				text-transform:uppercase;
				color:$colorgrey;
			}

			.element-content{
				display:block;
				margin-bottom:25px;
				border:1px solid $colorgreyxlight;
				background:white;
				box-shadow:0 0 6px rgba(0,0,0,0.1);
				padding:15px 15px 40px 15px;
				color:$colorgreylight;
				position:relative;

				.element-content-title{
					display:block;
					margin:0 0 10px 0;
					text-transform:uppercase;
					font-size:15px;
				}

				.element-content-bottom{
					display:block;
					position:absolute;
					padding:0 15px 15px 15px;
					bottom:0; left:0;
					width:100%;
					margin:10px 0 0 0;
					font-size:10px;
					text-transform:uppercase;
					color:$colorgreylight;
					font-family:$fontcantarell;

					a{
						float:right;
						color:$colorgreylight;
						text-decoration:none;

						.icon{
							font-size:14px;
							margin-top:-2px;
						}

						&:hover{
							text-decoration:underline;
						}
					}
				}

				&.element-content--newmessage{
					background:#fdf0ee;
					border-color:$colorred;
				
					.element-content-new{
						color:$colorred;
						font-size:11px;
						font-style:italic;
						font-weight:bold;
						position:absolute;
						top:18px;
						right:15px;
					}

					.element-content-title{
						color:$colorred;
					}
				}
			}

			.element-notes{
				display:block;
				margin-bottom:25px;
				border:1px solid $colorgreyxlight;
				border-left:none;
				background:url(../images/cdashboard-notes-bg.png) repeat-y bottom left;
				box-shadow:0 0 6px rgba(0,0,0,0.01);
				padding:15px 15px 15px 25px;
				font-family:$fontcantarell;
				color:$colorgrey;
				letter-spacing:0.06em;
				height:240px;

				.element-notes-empty{
					text-align:center;
					font-size:38px;
					color:#b7b7bc;
					font-family:$fontdincondmed;
					padding:40px 0 0 0;

					.icon{
						font-size:56px;
						margin:10px 0 0 0;
					}
				}
			}

			.element-buttons{
				text-align:center;

				.wmw-button{
					margin: 0 0 5px 0;

					.icon--handshake{
						font-size:18px;
						top: 3px;
					}
				}
			}

			&.wmw-cdashboard-element--shortlist{
				width:31.3333%;
				margin:0 1%;

				.element-title{
					padding-right:0;

					.wmw-simple-button{
						float:right;
					}

					.element-title-link{
						float:right;
						font-size:10px;
						text-transform:uppercase;
						text-decoration:none;
						color:$colorgreylight;
						margin:0 12px 0 0;
						font-family:$fontcantarell;

						&:hover{
							text-decoration:underline;
						}
					}
				}
			}
		}

		.wmw-cdashboard-sidebar{
			display:block;
			position:absolute;
			top:0; left:0;
			width:380px;
			height:100%;
			background:white;
			border-right:3px solid $colorgreen;
			z-index:100;
			transform:translateX(-378px);
			transition:transform .5s $easeinout;

			&.wmw-cdashboard-sidebar--active{
				transform:translateX(0);
			}

			.sidebar-wrapper{
				display:block;
				width:100%;
				height:auto;
				max-height:100%;
				overflow:auto;
				padding:30px 30px;
			}

			.sidebar-button{
				display:block;
				width: 32px;
				height: 41px;
				background:url(../images/cdashboard-sidebar-button.png) no-repeat;
				position:absolute;
				top:40px; right:-32px;
			}

			.sidebar-date{
				margin:0 0 15px 0;
				color:#a2a2a2;
				font-weight:bold;
			}
		}

		.wmw-cdashboard-mail{
			display:block;
			position:relative;
		
			.mail-toolbar{
				display:block;
				padding:15px 20px;
				position:relative;
				text-align:center;
				border-bottom:1px solid $colorgreyxlight;

				.mail-toolbar-buttons{
					position:absolute;
					top: 17px;
    				left: 60px;
				}

				.mail-toolbar-title{
					text-transform:uppercase;
					font-size:25px;
					font-family:$fontdincondmed;
				}
			}

			.mail-content{
				padding:60px 60px 220px 400px;
				position:relative;

				.mail-content-profile{
					position:absolute;
					top:60px; left:60px;
					background:white;
					border:1px solid $colorgreyxlight;
					width:280px;
					height:calc(50% - 60px);
					padding:30px 20px 0 20px;

					.mail-content-profile-picture{
						display:block;
						width:105px;
						height:105px;
						border-radius:50%;
						background-size:cover;
						margin:0 auto 10px auto;
					}

					.mail-content-profile-name{
						font-family:$fontdincondmed;
						font-size:30px;
						color:$colorgrey;
						letter-spacing:0.06em;
						text-align:center;
						text-transform:uppercase;
						margin:0 0 5px 0;
					}

					.mail-content-profile-coords{
						font-size:18px;
						font-weight:bold;
						color:$colorgreylight;
						line-height:1.8em;
						text-align:center;

						a{
							color:$colorgreylight;
							text-decoration:none;
						}
					}

					.mail-content-profile-buttons{
						position:absolute;
						padding:0 25px 25px 25px;
						bottom:0; left:0;
						width:100%;

						a{
							float:left;
							&:last-child{ float:right; }
						}
					}
				}

				.mail-content-notes{
					position:absolute;
					top:60px; left:60px;
					background:white;
					border:1px solid $colorgreyxlight;
					padding:60px 0 0 0;
					width:280px;
					height:calc(100% - 120px);

					&.mail-content-notes--semi{
						top:50%;
						margin-top:60px;
						height:calc(50% - 120px);
					}

					strong{
						font-size:35px;
						font-family:$fontdincondmed;
						color:#b7b7bc;
						position:absolute;
						top:20px; left:20px;
						letter-spacing:0;
						font-weight:normal;

					}

					textarea{
						border:0;
						width:100%;
						height:100%;
						padding:20px;
						color:$colorgrey;
					}
				}

				.mail-content-chat{
					position:relative;
					height:500px;
					overflow:auto;
					padding:0 40px 0 0;

					.chatbox{
						display:block;
						margin:0 0 25px 0;
						width:80%;
						border:1px solid $colorgreyxlight;
						padding:20px;

						.chatbox-name{
							font-weight:bold;
							display:inline;
						}

						.chatbox-time{
							display:inline;
							text-transform:uppercase;
							font-size:10px;
							color:#b7b7bc;
							margin:0 0 0 10px;
						}

						.chatbox-content{
							display:block;
							margin:10px 0 0 0;
						}

						&.chatbox--a{

							.chatbox-name{
								color:$colorgreen;
							}
						}

						&.chatbox--b{
							margin-left:20%;

							.chatbox-name{
								color:$colorpurple;
							}
						}
					}
				}

				.mail-content-answer{
					position:absolute;
					bottom:60px;
					right:60px;
					width:calc(100% - 460px);
					height:100px;

					textarea{
						display:block;
						width:100%;
						height:100%;
					}

					button{
						display:block;
						height:24px;
						padding:0 10px;
						color:white;
						font-family:$fontcantarell;
						font-size:12px;
						text-decoration:none;
						position:absolute;
						bottom:-24px;
						right:0;
						background:$colorgreen;
						border:none;
					}
				}
			}
		}
	}
}