.wmw-header{
	display:block;
	text-align:center;
	height:60px;
	line-height:60px;

	.wmw-header-logo{
		display:inline-block;
		height:35px;
		width:auto;
		vertical-align:middle;
	
		img{
			display:block;
			height:100%;
			width:auto;
		}
	}

	.wmw-header-profile{
		display:block;
		position:absolute;
		white-space:nowrap;
		top: 35px;
	    right: 8.33333%;
	    height: auto;
	    line-height: 1em;

		.wmw-header-profile-picture{
			display:inline-block;
			vertical-align:middle;
			width:50px;
			height:50px;
			border-radius:50%;
			margin:0 15px 0 0;
			overflow:hidden;

			img{
				display:block;
				width:100%;
				height:auto;
			}
		}

		.wmw-button{
			padding:0 20px;
		}
	}

	&.wmw-header--ob{

		.wmw-header-logo{
			vertical-align:bottom;
		}
	}
}

/* ------------------------------------------------------------------------------ */
/* ----------- MEDIUM SCREENS --------------------------------------------------- */
/* ------------------------------------------------------------------------------ */

@media screen and (min-width: $screen-md-min){

	.wmw-header{
		height:120px;
		line-height:120px;

		.wmw-header-logo{
			height:45px;
		}
	}
}