.wmw-onboard-text{
	display:none;
	padding:35px 20px;
	color:$colorpurplelight;
	font-size:13px;
	line-height:1.81em;
	font-weight:bold;

	p{
		padding:0;
		margin:15px 0;
	}
}

.wmw-onboard{
	text-align:center;

	.wmw-onboard-body{
		background:white;
		padding:15px 15px 35px 15px;
		margin:0 0 50px 0;

		h1{
			text-align:center;
			color:$colorgrey;
			font-size:35px;
			line-height:1em;
			letter-spacing:0.06em;
			font-family:$fontdincondreg;
			font-weight:normal;
			margin-top:0;
			margin-bottom:25px;

			small{
				display:block;
				font-family:$fontcantarell;
				color:$colorgreylight;
				font-size:14px;
				text-transform:uppercase;
				margin:10px 0;
				letter-spacing:0.045em;
			}
		}

		.wmw-onboard-or{
			display:block;
			text-align:center;
			padding:20px 0;
			font-family:$fontcantarell;
			color:$colorgreylight;
			font-size:14px;
			text-transform:uppercase;
			margin:15px 0;
		}

		.wmw-onboard-checkbox{
			margin:0 0 25px 0;
			text-align:left;

			input{
				background:white;
				border:1px solid $colorpurplexlight;
				width:14px;
				height:14px;
			}

			label{
				font-family:$fontroboto;
				font-size:16px;
				color:$colorgreylight;
			}
		}

		.wmw-onboard-businesses{
			margin-bottom:20px;
		}

		.wmw-onboard-switches{

			.wmw-onboard-switches-el{
				position:relative;
				border:1px solid $colorgreyxlight;
				box-shadow:0 0 10px rgba(0,0,0,0.2);
				margin:0 0 15px 0;
				height:50px;
				padding:0 75px 0 20px;
				color:$colorpurple;
				font-size:16px;
				font-family:$fontroboto;
				text-align:left;

				label{
					display:block;
					height:48px;
					line-height:48px;
					cursor:pointer;
					font-weight:bold;
				}

				.wmw-switchfield{
					position:absolute;
					top:0; right:0;
				}
			}
		}

		.wmw-onboard-domains{
			border:1px solid $colorgreyxlight;
			text-align:left;
			padding:20px 10px;
			margin:0 0 25px 0;

			.wmw-onboard-domains-col{
				padding:0 10px;
			}

			.wmw-switchfield{
				margin:0 0 10px 0;
				
				label{
					text-transform:none;
					font-size:14px !important;
					line-height:18px;
					letter-spacing:0.04em;
				}
			}

			.wmw-onboard-domains-title{
				font-family:$fontcantarell;
				letter-spacing:0.06em;
				font-size:14px;
				padding:0 0 0 30px;
				position:relative;
				margin:0 0 10px 0;

				&:before{
					content:'';
					display:block;
					position:absolute;
					top:50%; left:0;
					transition:background .3s;
					width:20px;
					height:8px;
					border-radius:4px;
					margin-top:-4px;
					background:$colorgrey;
				}
			}

			.wmw-onboard-domains-subs{
				padding:0 0 0 20px;
				margin:0 0 0 30px;
				border-left:1px solid $colorgreyxlight;

				.wmw-switchfield{
					font-style:italic;
				}
			}
		}

		.wmw-onboard-blocks{
			font-size:0;
			margin:0 0 25px 0;
			border-right:1px solid $colorgreyxlight;

			.wmw-onboard-blocks-el{
				font-size:14px;
				padding:10px 25px 5px 25px;
				border:1px solid $colorgreyxlight;
				border-right:none;
				color:$colorgrey;

				label{
					margin:0 0 5px 0;
					display:inline-block;
					cursor:pointer;
				}
			}
		}

		.wmw-onboard-price{
			text-align:left;
			font-size:15px;

			.wmw-onboard-price-inner{
				padding:20px 20px 150px 20px;
				border:1px solid $colorgreyxlight;
				text-align:center;
				position:relative;
				background:#fdfdfd;

				.wmw-onboard-price-input{
					width:155px;
					height:55px;
					border:1px solid $colorgreyxlight;
					vertical-align:bottom;
					color:$colorgreen;
					font-size:45px;
					line-height:55px;
					text-align:center;
					margin:0 0 2px 0;
					background:white;
					display:inline-block;

					input{
						border:none;
						background:none;
						color:$colorgreen;
						font-size:45px;
						width:115px;
						height:55px;
						text-align:right;
						vertical-align:top;
						padding:0;
					}
				}

				.wmw-range-gradient{
					margin-top:10px;
				}

				.wmw-onboard-price-number{
					width:100%;
					height:150px;
					position:absolute;
					bottom:0; right:0;
					background:white;
					text-align:center;
					padding:25px 50px;
					color:$colorgreylight;
					line-height:1.08em;

					span{
						font-size:45px;
						display:block;
						line-height:1em;
					}
				}
			}
		}

		.wmw-onboard-resume{

			.wmw-onboard-resume-sidebar{
				padding-right:20px;
				font-size:13px;
				text-align:right;

				.wmw-button{
					margin:15px 0 30px 0;
				}

				.sidebar-block{
					background:#fdfdfd;
					border:1px solid $colorgreyxlight;
					text-align:left;

					.sidebar-block-el{
						padding:10px 10px 10px 35px;
						position:relative;
						color:#c9c9c9;

						.icon{
							font-size:17px;
							position:absolute;
							left:10px;
							top:11px;
							font-weight:normal;
						}

						.title{
							text-transform:uppercase;
							letter-spacing:0.1em;
							font-size:12px;
							font-weight:bold;
						}

						.value{
							color:$colorgrey;
							letter-spacing:0.02em;

							ul{
								padding:0;
							}
						}
					}

					.sidebar-block-business{
						padding:10px 15px;
						border-bottom:1px solid $colorgreyxlight;
						text-align:center;
						font-weight: bold;
						font-size:12px;
						line-height:25px;
						text-transform:uppercase;

						.icon{
							font-weight: normal;
							font-size:22px;
							margin-top:-5px;
							margin-right:5px;
						}
					}
				}
			}

			.wmw-onboard-resume-content{
				border:1px solid $colorgreyxlight;
				padding:40px 20px 20px 20px;
				position:relative;
				text-align:left;
				font-size:14px;
				letter-spacing:0.02em;

				h2{
					margin:0 0 30px 0;
					letter-spacing:0.02em;
					font-size:30px;
					padding-right:100px;
					line-height:1em;
					font-family:$fontdincondreg;
				}

				.wmw-button{
					position:absolute;
					top:42px;
					right:20px;
				}
			}
		}
	}

	.wmw-onboard-bottom{

		.wmw-button{
			margin:0 25px 0 0;
			vertical-align:top;

			&:last-child{
				margin:0;
			}
		}

		.wmw-onboard-bottom-left{
			margin:0 0 15px 0;
		}
	}

	&.wmw-onboard--pitch{ 

		.wmw-onboard-body{
			padding:0 15px 35px 15px;

			&:before{
				content:'';
				display:block;
				width:100%;
				height:3px;
				background: linear-gradient(to right, $colorpurple, $colorgreen);
				margin-bottom:25px;
			}
		}
	}
}

/* ------------------------------------------------------------------------------ */
/* ----------- MEDIUM SCREENS --------------------------------------------------- */
/* ------------------------------------------------------------------------------ */

@media screen and (min-width: $screen-md-min){

	.wmw-onboard-text{
		display:block;
	}

	.wmw-onboard{

		.wmw-onboard-body{
			padding:35px;

			h1{
				font-size:50px;
				margin-bottom:40px;
			}

			.wmw-onboard-price{

				.wmw-onboard-price-inner{
					padding:20px 300px 20px 20px;

					.wmw-onboard-price-number{
						width:300px;
						height:100%;
						position:absolute;
						padding:25px 50px 0 100px;
					}
				}
			}
		}

		.wmw-onboard-bottom{

			br{
				display:none;
			}

			.wmw-onboard-bottom-left{
				margin:0 100px 0 0;
			}
		}

		&.wmw-onboard--pitch{ 

			.wmw-onboard-body{
				padding:0 35px 35px 35px;

				.wmw-onboard-businesses{

					.wmw-iconfield{
						width:20%;
					}
				}
			}
		}
	}
}