.wmw-tag{
	display:inline-block;
	vertical-align:middle;
	background:url(../images/tag-cross.png) no-repeat center right 8px $colorpurplexlight;
	height:23px;
	line-height:23px;
	padding:0 24px 0 8px;
	color:white;
	text-decoration:none;
	font-family:$fontroboto;
	font-size:14px;
	color:white;
	text-transform:uppercase; 
	margin:4px;
	border-radius:11px;

	&:hover{
		background-color:$colorpurple;
	}
}