<!DOCTYPE html>
<html>
    <body>
        <a href="{{ path('setlocale', {'language': 'fr'}) }}">FR</a>
        <a href="{{ path('setlocale', {'language': 'en'}) }}">EN</a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
