{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}

<div class="wmw-header-languages-button">
	{% for locale in locales if locale == app.request.locale %}
    <button type="button" class="wmw-button wmw-button--border wmw-button--green" id="hide_logout">
        <span>
            <span class="name">{{ locale }}</span>
            <i class="icon icon--arrow"></i>
        </span>
    </button>
    {% endfor %}
    <div class="wmw-header-languages-menu">
    	{% for locale in locales if locale != app.request.locale %}
        <a href="{{ path(route, params|merge({ _locale: locale })) }}">{{ locale }}</a>
        {% endfor %}
    </div>
</div>