/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/web/app_dev.php
/genData.sh
/web/assetic
/web/uploads
/web/fonts
/.idea
/components
/web/js/465fd61_select2entity_1.js
/web/js/465fd61.js
