{% trans_default_domain "CompanyBundle" %}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>
            {{ 'company.name'|trans }} {{ company.name }} {{ 'company.action.created'|trans }}
        </p>
      </body>
</html>
