{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block subtitle %}
        Hello contractor
{% endblock %}
{% block body %}
    <p>
        Missions you created :
        {% for currentMission in listMission %}
        <li>
            <a href="{{ path('mission_view', {'id': currentMission.id}) }}">
                {{ currentMission.title }}</a>
        </li>
        {% endfor %}
    </p>
{% endblock %}
