{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}"
      method="POST"
      class="fos_user_resetting_request wmw-onboard col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
    <div class="wmw-onboard-body">

        <div class="wmw-onboard-or">
            <h1>{{ 'reset your password' | trans | upper }}</h1>
        </div>

        <div class="wmw-fieldrow row">
            <input type="email" id="username" name="username" class="required col-xs-7"/>
            <label class="wmw-label wmw-label--right col-xs-5"
                   for="username">{{ 'resetting.request.username'|trans }}</label>
        </div>

        <div>
            <button type="submit" class="wmw-button wmw-button--green wmw-button--border">
                <i></i><span>{{ 'resetting.request.submit' | trans }}</span><i></i></button>
        </div>

    </div>
</form>
