{% trans_default_domain 'tools' %}

<div class="side_bar">
    <div class="ring">
        {% if roleAdvisor %}
            <h5>

            </h5>
        {% endif %}
    </div>
    <div class="notification_switch">
        <h5>

        </h5>
    </div>
</div>
