    .activeDay { background-color:#DEE0DE !important;}
    .fc-bgevent { background-color: white !important;}
    .blocked { background-color: white !important;}
    .free { background: white ;}
    .fc-event-container { visibility: hidden; }
    .toDay { background: #ffc   ; }
    .fc-state-highlight { visibility: hidden; }
