<!DOCTYPE html>
{% trans_default_domain "MissionBundle" %}
<html>
    <head>
    </head>
    <body>
        <p>
            {{ 'mission.all_missions.title'|trans }} : 
        </p>
        <p>
            {% for mission in listMission %}
             <li>
                 <a href="{{ path('mission_view_advisor', {'id': mission.id}) }}">
                 {{ mission.title }}</a>
                    ---> <a href="{{ path('mission_pitch', {'id': mission.id}) }}">pitch </a>
            </li>
            {% endfor %}
        </p>
    </body>
</html>
