<!DOCTYPE html>
<html>

Mission saved with success !<br>
<a href="{{ path('mission_view', {'id': mission.id}) }}">see your mission </a><br>
<a href="{{ path('mission_edit', {'id': mission.id}) }}">edit your mission </a><br>
<a href="{{ path('mission_new') }}">make another one </a>

</html>
