// Custom template

@font-face {
    font-family:"icons";
    src: url("../fonts/icons.eot?361bd920d63ef93f8c77b6194b9796b0");
    src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
		url("../fonts/icons.woff?361bd920d63ef93f8c77b6194b9796b0") format("woff"),
		url("../fonts/icons.ttf?361bd920d63ef93f8c77b6194b9796b0") format("truetype"),
		url("../fonts/icons.svg?361bd920d63ef93f8c77b6194b9796b0#icons") format("svg");
    font-weight:normal;
    font-style:normal;
    }

.icon {
    font-family:"icons";
    display:inline-block;
    font-style:normal;
    speak:none;
    -webkit-font-smoothing:antialiased;
    font-size:1em;
    line-height:1em;
    vertical-align:middle;
    }

// Icons
.icon--arrow:before { content:"\f101"; }
.icon--avatar:before { content:"\f102"; }
.icon--budget:before { content:"\f103"; }
.icon--business-construction:before { content:"\f104"; }
.icon--business-finance:before { content:"\f105"; }
.icon--business-food-beverage:before { content:"\f106"; }
.icon--business-hotel:before { content:"\f107"; }
.icon--business-leisure:before { content:"\f108"; }
.icon--business-manufacturing:before { content:"\f109"; }
.icon--business-media-telco-entertainment:before { content:"\f10a"; }
.icon--business-retail:before { content:"\f10b"; }
.icon--business-sport:before { content:"\f10c"; }
.icon--business-tourisme:before { content:"\f10d"; }
.icon--calendar:before { content:"\f10e"; }
.icon--certification:before { content:"\f10f"; }
.icon--clock:before { content:"\f110"; }
.icon--company-large:before { content:"\f111"; }
.icon--company-medium:before { content:"\f112"; }
.icon--company-small:before { content:"\f113"; }
.icon--consultant:before { content:"\f114"; }
.icon--cross:before { content:"\f115"; }
.icon--download:before { content:"\f116"; }
.icon--facebook:before { content:"\f117"; }
.icon--handshake:before { content:"\f118"; }
.icon--language:before { content:"\f119"; }
.icon--linkedin:before { content:"\f11a"; }
.icon--locker:before { content:"\f11b"; }
.icon--mail:before { content:"\f11c"; }
.icon--notes:before { content:"\f11d"; }
.icon--pen:before { content:"\f11e"; }
.icon--pointer:before { content:"\f11f"; }
.icon--star:before { content:"\f120"; }
.icon--twitter:before { content:"\f121"; }
.icon--typology:before { content:"\f122"; }
.icon--world:before { content:"\f123"; }