$fontcantarell :	'cantarellregular';
$fontroboto :		'roboto_condensedlight';
$fontdincondmed : 	'DINPro-CondensedMedium';
$fontdincondreg : 	'DINPro-CondensedRegular';

$colorred : #ea6755;

$colorpurplexlight : #d9cff5;
$colorpurplelight : #582ad2;
$colorpurple : #362a7e;

$colorgreyxxlight : #f0f0f0;
$colorgreyxlight : #e3e3e3;
$colorgreylight : #747474;
$colorgrey : #464646;

$colorgreen : #3cc3b7;

$colorinvalid : #e27481;

$easeinout : cubic-bezier(0.215, 0.600, 0.270, 0.995);